*{
	padding:0;
	margin:0;
}

.container{
	max-width:720px;
	margin:0 auto;
	text-align: center;


	header{
		text-align: center;
	}

	.menuGroup{
		text-align: center;
		//width: 320px;
		display:inline-block;

		.row{
			text-align: left;

			+ .row{
				margin-top: 15px;
			}

			.menu{
				text-align: center;
			}
			.subject{
			}
		}
	}
}