<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<meta charset="UTF-8" />
		<title>ㅁㄴㅇㄹ</title>
		<!-- config fragment 사용 -->
		<th:block th:replace="fragments/config :: configFragment" ></th:block>

	</head>
	<body>
		<th:block th:replace="fragments/header"></th:block>
		<h1>기본 레이아웃</h1>
		<!-- page content body 구성 -->
		<th:block layout:fragment="content"></th:block>
		<!-- 공통 footer -->
<!--		<footer th:replace="fragments/commonFooter :: commonFooter"></footer>-->
		<!-- 공통 javascript -->
<!--		<th:block th:replace="fragments/commonScript"></th:block>-->
		<!-- page content javascript -->
	</body>
</html>
