{{> common/head}}
<body>
<div class="container">
	{{> common/header}}
	<div class="contents">
		<section class="">
			<div class="inner">
				<form>
					<div class="formBox formSmall">

						<div class="row">
							<input placeholder="아이디" name="userId" id="userId" type="text">
						</div>

						<div class="row">
							<input placeholder="비밀번호" name="userId" id="userId" type="password">
						</div>
						<div class="row">
							<a href="#none" class="formBtn">일반 로그인</a>
						</div>
						<div class="row">
							<a href="#none" class="formBtn naver">네이버 로그인</a>
						</div>
						<div class="row">
							<a href="#none" class="formBtn google">구글 로그인</a>
						</div>
						<div class="row center">
							<a href="/member/join" class="joinTxt">아직 회원이 아니신가요?</a>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</div>
</body>
</html>
