{{> common/head}}
<body>
<div class="container">
	{{> common/header}}
	<div class="contents">
		<section class="">
			<div class="inner">
				로그인 완료!!!!!
			</div>
		</section>
	</div>
</div>
<script src="/js/member.js"></script>
</body>
</html>
