<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/head" th:remove="tag"></head>
<body xmlns:th="http://www.w3.org/1999/xhtml">
<div class="container">
	<header th:include="/common/header" th:remove="tag"></header>
	<div class="contents">
		<section class="">
			<div class="inner">
				<form action="/login" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" />					<div class="formBox formSmall">

						<div class="row">
							<input placeholder="아이디" name="username" id="username" type="text">
						</div>

						<div class="row">
							<input placeholder="비밀번호" name="password" id="password" type="password">
						</div>
						<div class="row">
							<a href="javascript:member.login()" class="formBtn">일반 로그인</a>
						</div>
						<div class="row">
							<a href="#none" class="formBtn naver">네이버 로그인</a>
						</div>
						<div class="row">
							<a href="#none" class="formBtn google">구글 로그인</a>
						</div>
						<div class="row center">
							<a href="/member/signUp" class="joinTxt">아직 회원이 아니신가요?</a>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</div>
<script src="/js/member.js"></script>
</body>
</html>
