table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

header {
	background-color: beige;
	padding: 10px 20px;
}

footer {
	background-color: beige;
	padding: 1%;
	text-align: center;
}

#wrap {
	padding: 50px 0;
}

#wrap > * {
	margin: 3% 0%;
}

.search {
	display: inline;
}

a {
	text-decoration: none;
}
.boardWrap{
	padding:50px;
	margin:0 auto;
	max-width:700px;
}