<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<div th:insert="common/header.html" id="header"></div>

<div class="boardWrap">
	<form th:action="@{'/post/edit/' + ${boardDto.id}}" method="post">
		<input type="hidden" name="_method" value="put"/>
		<input type="hidden" name="id" th:value="${boardDto.id}"/>

		제목 : <input type="text" name="title" th:value="${boardDto.title}"> <br>
		작성자 : <input type="text" name="writer" th:value="${boardDto.writer}"> <br>
		내용 : <textarea name="content" th:text="${boardDto.content}"></textarea><br>

		<input type="submit" value="수정">
	</form>


	<div class="comment" style="margin-top:30px;">

		<div><b>코멘트 작성</b></div>

		<div>
		작성자 :
			<div>
				<input type="text" name="commentWriter">
			</div>
		</div>
		<div>
		내용 :
			<div>
				<textarea name="commentContent"></textarea>
			</div>
		</div>
		<div>
			<a href="javascript:boardUpdate.commentSave()">작성</a>
		</div>
	</div>

	<div class="commentList">

		<div th:if="${commentList == null}">등록된 코멘트가 없습니다.</div>


		<ul>
			<li th:each="comment : ${commentList}">
				<div><span style="font-weight: 700;" th:text="${comment.writer}"></span></div>
				<div th:text="${comment.content}"></div>
			</li>
		</ul>


	</div>
</div>



<div th:insert="common/footer.html" id="footer"></div>
<th:block layout:fragment="script">
	<script th:src="@{/js/board/boardUpdate.js}"></script>
</th:block>

</body>
</html>