<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>

	<link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<!-- header 추가 -->
<div th:insert="common/header.html" id="header"></div>



<form action="/post" method="post">
	제목 : <input type="text" name="title"> <br>
	작성자 : <input type="text" name="writer"> <br>
	<textarea name="content"></textarea><br>

	<a href="javascript:boardWrite.save()" class="">등록</a>
</form>
<!-- footer 추가 -->


<div th:insert="common/footer.html" id="footer"></div>

<th:block layout:fragment="script">
	<script th:src="@{/js/board/boardWirte.js}"></script>
</th:block>

</body>
</html>