{{> common/head}}
<body>
	<div class="container">
		{{> common/header}}
		<div class="contents">
			<section class="">
				<div class="inner">
					<h1>로그인 후 이용이 가능합니다.</h1>
				</div>
			</section>
		</div>
	</div>
</body>
</html>