<html xmlns:th="http://www.thymeleaf.org">


<head th:include="/common/head" th:remove="tag"></head>
<style>
	th, td{
		text-align: center;
		padding:5px;
	}
</style>
<body>

<div class="container">
	<header th:include="/common/header" th:remove="tag"></header>

	<div class="contents">
		<section class="">
			<div class="inner">

				<table>
					<colgroup></colgroup>
					<thead>
					<tr>
						<th>No</th>
						<th>제목</th>
						<th>작성자</th>
						<th>조회수</th>
						<th>등록일</th>
					</tr>
					</thead>
					<tbody>
					<tr th:if="${#lists.size(listData) == 0}">
						<td colspan="5" style="text-align: center;">작성된 글이 없습니다.</td>
					</tr>
					<tr th:each="board : ${listData}">
						<td th:text="${boardStat.count}"></td>
						<td>
							<a th:href="@{/board/(board.id)}" th:text="${board.title}"></a>
						</td>
						<td th:text="${board.getWriter()}"></td>
						<td></td>
						<td th:text="${board.getModifedDate()}"></td>
					</tr>
					</tbody>
				</table>

				<div class="btnBox" style="text-align: right; margin-top:20px;">
					<button type="button" id="writeMoveBtn">작성하기</button>
				</div>

			</div>
		</section>
	</div>
</div>
<script src="/js/board.js"></script>
</body>

</html>